<div class="row">
   <div class="col-md-5">
      <div class="panel panel-default">
         <div class="panel-heading clearfix">
            <h3 class="pull-left" style="margin-top:8px">Messages</h3>
         </div>
         <div class="panel-body">
            <div class="row">
               <div class="col-xs-12">
                  <app-message-list></app-message-list>
               </div>
            </div>
         </div>
         <div class="panel-footer">
            <app-message-edit></app-message-edit>
         </div>
      </div>
   </div>
</div>
