<div class="panel panel-default">
  <div class="panel-body">

    <form id="document-edit" (ngSubmit)="onSubmit(f)" #f="ngForm">
      <div class="row">

        <div class="col-sm-12 form-group">
          <label for="name">Document title</label>
          <input
            #name="ngModel"
            name="name"
            type="text"
            id="name"
            class="form-control"
            size="120"
            max="120"
            [ngModel]=oldDoc?.name
            required>
        </div>

        <div class="col-sm-12 form-group">
          <label for="description">Document description</label>
          <input
            name="description"
            type="text"
            id="description"
            class="form-control"
            size="120"
            max="255"
            [ngModel]=oldDoc?.description>
        </div>

        <div class="col-sm-12 form-group">
          <label for="documentUrl">Document URL</label>
          <input
            #docUrl="ngModel"
            name="docUrl"
            type="text"
            id="documentUrl"
            class="form-control"
            size="150"
            max="255"
            [ngModel]=oldDoc?.docUrl
            required>
        </div>
      </div>

      <div class="alert alert-danger"
      *ngIf="!name.valid || !docUrl.valid">
        The Document Title and URL are required Fields
      </div>

      <div class="row">
        <div class="col-xs-12">
          <button class="btn btn-success" type="submit" [disabled]="!f.valid">Save</button>
          <button class="btn btn-primary" type="button" (click)="onCancel()">Cancel</button>
        </div>
      </div>

    </form>

  </div>
</div>

